
.main {
	z-index: 1;
	background: linear-gradient(-45deg, #6E87CE, #B0C3FA, #6E87CE, #CFDBFA, #FFFFFF, #6E87CE);
	background-size: 400% 400%;
	width: 100%;
	height: 100vh;
	animation: animate 15s ease infinite;
}

@keyframes animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.wrappercolumn {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-family: 'Poppins', sans-serif;
  color: #282A2E;
  text-align: center;
  margin: 0%;
}

.button {
  background-color: #6E87CE;
  padding: 1em 3em;
  border-radius: 50px;
  border: 0;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  text-align: center;
  margin-top: 1em;
  box-shadow: inset 10px 5px 10px red;
  /* box-shadow: 3px 5px 20px #586ba2; */
}