.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 2rem auto;
    width: 90%;
    max-width: fit-content;
}

.cardheader {
    background-color: #6E87CE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    padding: 1rem;
}

.cardheader div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardheader div p {
    background-color: aliceblue;
    border-radius: 5px;
    padding: .2rem .5rem;
    width: fit-content;
    text-transform: capitalize;
}

.cardtitle {
    font-size: 1.25rem;
    margin: 0;
}

.cardsubtitle {
    font-size: 0.75rem;
    margin: 0;
}

.cardbody {
    padding: 1rem;
}

.cardimage {
    width: 100%;
}