.main {
  width: 100vw;
	height: 100vh;
  padding: 1em 2em;
  overflow: scroll;
}

.field {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin-bottom: 1em;
    width: 100%;
}

.wrappercolumn {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.columnflex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* background-color: whitesmoke; */
  width: 50%;
  height: fit-content;
  padding: 3em 4em;
  border-radius: 20px;
  box-shadow: 2px 7px 20px #586ba2;

  background: rgba(255, 255, 255, 0.4);
  /* box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1); */
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.heading {
  font-family: 'Poppins', sans-serif;
  color: #282A2E;
  text-align: center;
  margin: 0%;
}

.button {
  background-color: #6E87CE; 
  padding: 1em 3em;
  border-radius: 50px;
  border: 0;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  text-align: center;
  margin-top: 1em;
  /* box-shadow: inset 5px 4px 20px #586ba2; */
  box-shadow: 2px 7px 20px #586ba2;
  transition: background-color .25s ease-out;
  cursor: pointer;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.4);
		transform: translatey(0px);
	}
  50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.1);
		transform: translatey(-10px);
	}
  100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.4);
		transform: translatey(0px);
	}
}

.button:hover {
  background-color: #5a6fa8;
}

.button:active {
  -webkit-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
  box-shadow: inset 5px 4px 20px #586ba2;
}

.animationcontainer {
  display: flex;
  align-items: center;
  width: 400px;
  padding: 0%;
  margin: 0%;
}

.link {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  cursor: pointer;
  color: #282A2E;
}



/* .main {
	z-index: 1;
  background: linear-gradient(-45deg, #B0C3FA, #CFDBFA, #B0C3FA, #CFDBFA);	
  background-size: 400% 400%;
	width: 100vw;
	height: 100vh;
	animation: animate 15s ease infinite;
} */

/****************GRADIENT BACKGROUND****************/

.main {
  width: 100vw;
	height: 100vh;
  overflow: scroll;
  background: linear-gradient(-45deg, #6E87CE, #CFDBFA, #B0C3FA, #FFFFFF); /* Set the initial gradient */
  background-size: 200% 100%; /* Increase the size of the gradient */
  animation: Gradient 10s ease infinite; /* Animate the gradient */
  -webkit-animation: Gradient 8s ease infinite;
	-moz-animation: Gradient 8s ease infinite;
}

@-webkit-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes Gradient { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.home {
  width: 100vw;
	height: 100vh;
  background-color: #FFFFFF;
}

@keyframes animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.wrappercolumn {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.columnflex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-family: 'Poppins', sans-serif;
  color: #282A2E;
  text-align: center;
  margin-bottom: 1em;
/* 
  color: #6E87CE;
  background-image: -webkit-linear-gradient(
    60deg,
    #6E87CE 10%,
    #6E87CE 40%,
    #282A2E 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent; */
}

.button {
  background-color: #6E87CE; 
  padding: 1em 3em;
  border-radius: 50px;
  border: 0;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  text-align: center;
  margin-top: 1em;
  /* box-shadow: inset 5px 4px 20px #586ba2; */
  box-shadow: 2px 7px 20px #586ba2;
  transition: background-color .25s ease-out;
  cursor: pointer;
}

.button:hover {
  background-color: #5a6fa8;
}

/* .createPost {

} */



.animationcontainer {
  display: flex;
  align-items: center;
  width: 400px;
  padding: 0%;
  margin: 0%;
}

.link {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  cursor: pointer;
  color: #282A2E;
}

.map {
  width: 100%;
  height: 40rem;
  margin: 2em 0em;
  z-index: 0;
}

/* Tablet responsiveness */
@media (max-width: 820px) and (min-width: 481px) {
  .cardform {
    width: 80%;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .main {
    padding: 1em;
  }
  .cardform {
    width: 90%;
  }
}


/* Tablet responsiveness */
@media (max-width: 768px) and (min-width: 481px) {
}

/* Mobile responsiveness */
@media (max-width: 480px) {
}